{% extends 'base.html' %}
{% block content %}

<h1>Dog List</h1>

{% for dog in dogs %}
  <div class="card">
    <a href="{% url 'detail' dog.id %}">
    <div class="card-content">
      <span class="card-title">{{ dog.name }}</span>
      <p>breed: {{ dog.breed }}</p>
      <p>description: {{ dog.description|linebreaks }}</p>
      {% if dog.age > 0 %}
        <p>age: {{ dog.age }}</p>
      {% else %}
        <p>age: puppy</p>
      {% endif %}
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}